<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candidate by name</title>
</head>
<body>
    <div style="width: 50%; margin: auto">
        <h1>Найдено кандидатов {{ len }}</h1>
        {% for candidate in candidates %}
            <p>
                <a href="/candidate/{{ candidate['num'] }}">{{ candidate['name'] }}</a>
            </p>
        {% endfor %}
    </div>
</body>
</html>